@font-face {
    font-family: 'pixel16-font';
    src: url('../fontes/Minecraft.ttf');
}

@font-face {
    font-family: 'pixel21-font';
    src: url('../fontes/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
    font-family: 'Broken Console Bold';
    src: url('../fontes/Broken Console Bold.ttf');
}

@font-face {
    font-family: 'Broken Console Bold Shadow';
    src: url('../fontes/Broken Console Bold Shadow.ttf');
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 0%;
    margin-bottom: 60px;
    font-family: 'Broken Console Bold';
}

header {
    width: 100%;
    height: 6%;
    position: absolute;    
    padding: 2em;
    background-color: #0ebbc100;
}

footer {
    background: #00ffff00;
    width: 100%;
    height: 11%;
    position: absolute;
    bottom: 0;
    left: 0;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: unset;
    outline: 2px outset;
    outline-color: #35363a;
}

#btn-pesquisa-city {
    background-color: #F5E262;
    border-radius: 1em;
    border-color: #efe50de6;
    padding: 2%;
    text-align: center;
    color: #B27FEB;
    font-family: pixel21-font;
}

#size-btn-start {
    height: auto;
    width: auto;
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.background-fundo {
    background-image: url(../images/Background_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.pikachu-running {
    background: url(../images/pikachuRunning.gif);
    background-repeat: no-repeat;
    background-position: right;
    max-height: 100%;
    background-size: 6.5%;
}

.campo {
    border-radius: 1em;
    background-color: #35363a;
    color: lightgray;
    width: 80%;
    font-family: Arial;
}

.borda-window-poke {
    border: 0.2em double;
    border-color: #d8d3d3;
    border-radius: 1em;
    color: #F5E262;
}

.window-poke {
    text-align: center;
    background-color: #8519e47f;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: auto;
    padding: 2em;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    elevation: higher;
}

.titles {
    font-size: 400%;
    color: #F5E262;
    font-style: normal;
}

.style-btn-background {
    background-color: #f33535d9;
    border: none;
    border-radius: 2em;
}

.p-6 {
    padding-top: 6em;
}

.img-size {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.poke-card {
    background-image: url(../images/pokeball.png);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: 150%;
    border-color: black;
    border-radius: 2em;
    background-color: #f2f2f2;
    background-position: center;
    padding: 0.5em;
    width: auto;
    height: auto;
    border-collapse: separate;
    border: double #ccc 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.name-poke {
    text-align: left;
    color: #313131
}

.n-pokedex {
    text-align: left;
    color: #919191;
}

.type-poke {
    color: #919191;
}


