@{
    ViewData["Title"] = "Home Page";
}
    
    
    
<div class="text-center">
    <p class="titles">Seja bem vindo ao mundo Pokémon! Vamos começar!</p>
    
</div>
<br />
<br />
<br />

<a href="@Url.Action("SearchCity","Home")" class="h-50">
    <input type="submit" id="size-btn-start" class="btn style-btn-background offset-4 col-4" value="S T A R T" />
</a>

