@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao mundo Pokémon!</h1>
    <h2>Vamos começar!</h2>
</div>

<br />
<br />
<br />

<a href="@Url.Action("SearchCity","Home")" class="h-50">
    <input type="submit" id="size-btn-start" class="btn style-btn-background offset-4 col-4" value="S T A R T "/>
</a>

