@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao mundo Pokémon!</h1>
    <p>Vamos começar!!!</a>.</p>
</div>

<div>
    <button type="button" src"
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
    </butto>
</div>
