@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="@Url.Action("Obter","Home")">
        <fieldset>
          <legend>Pesquisa Pokémon</legend>
          <div>
            <label for="city">Qual sua Cidade?</label>
            <input type="text" name="city" placeholder="Cidade" />
          </div>
          <div>
            <label>&nbsp;</label>
            
            <input type="submit" value="Enviar" class="submit"/>
            
          </div>
        </fieldset>
      </form>


@*@{
    var message = ViewBag.Error != null ? ViewBag.Error : "";
}

      <script> 


      
          $("document").ready(function(){ 
              console.log('@message')
          });

      </script>
*@