@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">

    <form class="borda-window-poke window-poke" action="@Url.Action("Obter","Home")">
        <fieldset>
            <h4 class="titles">Vamos pesquisar uma cidade!</h4>
            <br />
            <div>
                <input class="campo" type="text" name="city" placeholder="Digite o nome da Cidade" autocomplete="off" spellcheck="false" />
            </div>
            <br />
            <br />
            <div>
                <label>&nbsp;</label>

                <input id="btn-pesquisa-city" type="submit" value="Procurar pokémon" />

            </div>
        </fieldset>
    </form>

</div>